/* General Classes */
.container { 
    padding-left: 2rem;
    padding-right: 2rem;
}
#chat-section {
    background:linear-gradient(145deg, #01d1b2, #e196ff);
    height: 100vh;
}

#chat {
    height: 90vh;
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}
.bubble-container {
    background: transparent;
}

/* for mobile */
#navbar-right{
    position: absolute;
    top: 0;
    right: 0;
}

.navbar {
    padding-left: 5px;
    padding-right: 5px;
}
.nav-brand {
    display: inline-block;
}

.nav-brand h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-links{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* For Desktop */
@media only screen and (min-width: 768px) {
    .navbar{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .nav-brand {
        display: inline-block;
    }
    .nav-links {
        float: right;
    }     
    .center-margin {
        margin-left: 15%;
        margin-right: 15%;
    }
}
.portfolio-section{
    background: #01d1b2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.portfolio-item{
    width: 300px;
    height: 300px;
}

#projectsButton {
    display: none;
}

.general-button{
    background: rgba(44, 44, 44, 0.67);
	color: #fff;
	padding: 8px 16px;
	border-radius: 15px 15px 5px 5px;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
    display: block;
    width: 50%;
    transition: all 200ms;
    cursor: pointer;
	/* display: inline-block;
	cursor: pointer;
	transition: all 200ms;
	text-decoration: none;
	word-break: normal;
	animation-duration: 1s;
	animation-name: animate-reply;
	animation-play-state: running;
	animation-fill-mode: forwards;
	opacity: 0;
	transform: translate3d(0px, 0px, 0px); */
}

.general-button:hover {
    background: rgba(44, 44, 44, 1);
    transform: scale(1) translate3d(0px, 0px, 0px);
    padding: 8px 16px;
    height: auto;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .portfolio-image {
        max-width: 450px;
    }
}


.swiper-container {
    width: 100%;
    height: 100vh;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(228, 223, 223, 0.897);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .center-text {
      text-align: center;
  }

  .icon-link {
      margin: 5px;
      text-decoration: none;
      color: blue;
  }

  .icon-link:hover {
      transition: all 200ms ease-in;
      transform: scale(2);
  }
